body {
  background-color: antiquewhite;
}

form {
  background-color: #0594cc;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 30px;
}

.cuenta {
  background-color: #ffe0b2;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 450px;
}

.numero {
  background-color: #ffe0b2;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 20px;
}

.deposito {
  background-color: aqua;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  width: 150px;
  position: absolute;
  top: 70px;
  left: 430px;

  margin: 30px;
  line-height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

